---
import AppStore from "../common/AppStore.astro";
import Decor from "../common/Decor.astro";
---

<section class="about--section" id="about-us">
	<div class="about__container">
		<picture>
			<source
				srcset="/images/about/about-desk-1x.jpg 1x,
                        /images/about/about-desk-2x.jpg 2x"
				media="(min-width: 1440px)"
			/>
			<source
				srcset="/images/about/about-mob-1x.jpg 1x,
                        /images/about/about-mob-2x.jpg 2x"
				media="(max-width: 1439px)"
			/>
			<img class="about__image" loading="lazy" src="/images/about/about-mob-1x.jpg" alt="About image" />
		</picture>

		<div class="about__descriptionBlock">
			<Decor />
			<h2 class="about__title">About us</h2>
			<p class="about__description">
				Your AI-powered kitchen companion. Simplify management, track inventory, and discover recipes from
				your ingredients. Digitalize shopping lists, ensure food safety, and enjoy real-time updates.
				Personalized and always evolving for a seamless culinary experience.
			</p>
			<AppStore className="appstore-white" />
		</div>
	</div>
</section>

<style>
	.about--section {
		width: 100%;
		background-color: #040404;
	}

	.about__container {
		width: 375px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@media screen and (min-width: 1440px) {
		.about__container {
			width: 1440px;
			flex-direction: row-reverse;
			height: 800px;
		}
	}

	.about__image {
		display: block;
		width: 375px;
		height: 390px;
	}

	@media screen and (min-width: 1440px) {
		.about__image {
			width: 735px;
			height: 800px;
		}
	}

	.about__descriptionBlock {
		width: calc(100% - 36px);
		display: flex;
		flex-direction: column;
		background-color: #040404;
		padding: 48px 16px 50px 20px;
	}

	@media screen and (min-width: 1440px) {
		.about__descriptionBlock {
			width: calc(50% - 141px);
			padding: 200px 77px 0 64px;
			height: calc(100% - 200px);
		}
	}

	.about__title {
		color: #fff;
		font-family: Abhaya Libre;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin: 24px 0 17px;
	}

	@media screen and (min-width: 1440px) {
		.about__title {
			font-size: 64px;
			margin: 32px 0 24px;
		}
	}

	.about__description {
		font-family: Avenir;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		color: #fff;
		margin: 0 0 32px;
	}

	@media screen and (min-width: 1440px) {
		.about__description {
			font-size: 20px;
			margin: 0 0 48px;
		}
	}
</style>
