---
import AppStore from "../common/AppStore.astro";
import ProductHuntLink from "../common/ProductHuntLink.astro";
---

<section class="home__section">
	<div class="home__container">
		<img class="home__logo" src="/icons/logo-main.svg" alt="logo" />
		<h1 class="home__title">Kitchen Gnome</h1>
		<p class="home__description">Your smart culinary guide</p>
		<div class="home__linksWrapper">
			<AppStore />
			<ProductHuntLink />
		</div>
	</div>
</section>

<style>
	.home__section {
		width: 100%;
		background-color: #fff;
	}

	.home__container {
		width: 375px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		margin: 70px auto 0;
		padding: 93px 0 134px;
	}

	@media screen and (min-width: 1440px) {
		.home__container {
			width: 1440px;
			margin: 110px auto 0;
			padding: 108px 0 238px;
		}
	}

	.home__logo {
		display: block;
		width: 64px;
		height: 64px;
	}

	@media screen and (min-width: 1440px) {
		.home__logo {
			width: 90px;
			height: 90px;
		}
	}

	.home__title {
		font-family: Abhaya Libre;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin: 12px auto 30px;
	}

	@media screen and (min-width: 1440px) {
		.home__title {
			font-size: 80px;
			margin: 48px auto 24px;
		}
	}

	.home__description {
		font-family: Avenir;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		margin: 0 auto 65px;
	}

	@media screen and (min-width: 1440px) {
		.home__description {
			font-size: 40px;
			margin: 0 auto 48px;
		}
	}

	.home__linksWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	@media screen and (min-width: 1440px) {
		.home__linksWrapper {
			flex-direction: row;
			gap: 24px;
		}
	}
</style>
