.header {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 11;
	z-index: 999;
	transform: translateX(-50%);
	width: 100%;
	background-color: #fff;
}

.headerContainer {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 999;
	transform: translateX(-50%);
	height: calc(70px - 34px);
	width: calc(375px - 41px);
	background-color: #fff;
	display: flex;
	align-items: center;
	padding: 17px 23px 17px 20px;
}

@media screen and (min-width: 1440px) {
	.headerContainer {
		width: calc(1440px - 128px);
		padding: 28px 64px;
		height: calc(110px - 56px);
	}
}

.headerLogo {
	color: #040404;
	font-family: Avenir;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 135%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

@media screen and (min-width: 1440px) {
	.headerLogo {
		font-size: 24px;
		gap: 8px;
	}
}

.logo {
	display: block;
	width: 36px;
	height: 36px;
}

@media screen and (min-width: 1440px) {
	.logo {
		width: 54px;
		height: 54px;
	}
}

.burgerMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background-image: url("/icons/burger.svg");
	background-size: auto;
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: auto;
}

@media screen and (min-width: 1440px) {
	.burgerMenu {
		height: 1px;
		width: 1px;
		position: absolute;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.isBurgerMenuOpen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background-image: url("/icons/cross.svg");
	background-size: auto;
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: auto;
}
