---
import "swiper/css";
import "swiper/css/pagination";
---

<section class="features__section">
	<div class="features__imgContainer">
		<div class="features__imgBox">
			<div class="swiper mySwiper swiperImgs">
				<div class="swiper-wrapper">
					<img class="swiper-slide" src="/images/features/features.jpg" alt="features" />
					<img class="swiper-slide" src="/images/features/meal-plan.jpg" alt="meal plan" />
					<img class="swiper-slide" src="/images/features/shopping-list.jpg" alt="shopping list" />
					<img class="swiper-slide" src="/images/features/recipe-discovery.jpg" alt="recipe discovery" />
					<img class="swiper-slide" src="/images/features/smart-fridge.jpg" alt="smart fridge" />
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>

	<div class="features__descriptionContainer">
		<div class="features__decor"></div>
		<h2 class="features__title">Features</h2>
		<div class="swiper mySwiper2 swiperImgs">
			<div class="swiper-wrapper">
				<img class="swiper-slide" src="/images/features/features.jpg" alt="features" />
				<img class="swiper-slide" src="/images/features/meal-plan.jpg" alt="meal plan" />
				<img class="swiper-slide" src="/images/features/shopping-list.jpg" alt="shopping list" />
				<img class="swiper-slide" src="/images/features/recipe-discovery.jpg" alt="recipe discovery" />
				<img class="swiper-slide" src="/images/features/smart-fridge.jpg" alt="smart fridge" />
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>

<script src="./features.ts">
	import "swiper/css";
	import "swiper/css/pagination";
</script>

<style>
	.features__section {
		display: flex;
		flex-direction: column;
	}

	.features__imgContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #29d664;
		padding: 41px 0;
		width: 100%;
	}

	.features__imgBox {
		width: 216px;
		height: 450px;
		background-color: tomato;
		border-radius: 23px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}

	.swiperImgs {
		width: 200px;
		height: 433px;
		border-radius: 13px;
	}

	.features__descriptionContainer {
		padding: 30px 15px 67px 20px;
	}

	.features__decor {
		width: 43px;
		height: 8px;
		background-color: #29d764;
	}

	.features__title {
		color: #040404;
		font-family: Abhaya Libre;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin: 24px 0 16px;
	}
</style>
