.featuresSection {
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 1440px) {
	.featuresSection {
		flex-direction: row;
	}
}

.featuresImgMainContainer {
	width: 100%;
	background-color: #29d664;
}

@media screen and (min-width: 1440px) {
	.featuresImgMainContainer {
		width: 50%;
	}
}

.featuresImgContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 41px 0 49px;
	width: 375px;
	margin: 0 auto;
}

@media screen and (min-width: 1440px) {
	.featuresImgContainer {
		width: 705px;
		padding: 58px 0 59px;
		margin: 0 0 0 auto;
	}
}

.swiperPaginations {
	position: absolute;
	z-index: 101;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8px;
	--swiper-pagination-color: #fff;
	--swiper-pagination-bullet-inactive-color: #fff;
	--swiper-pagination-bullet-inactive-opacity: 0.4;
	--swiper-pagination-bullet-size: 8px;
	--swiper-pagination-bullet-horizontal-gap: 5px;
	--swiper-pagination-bottom: 16px;
}

@media screen and (min-width: 1440px) {
	.swiperPaginations {
		margin: 26px 0 0;
		--swiper-pagination-bottom: 26px;
	}
}

.featuresImgBox {
	width: 216px;
	height: 450px;
	border-radius: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

@media screen and (min-width: 1440px) {
	.featuresImgBox {
		width: 328px;
		height: 682px;
	}
}

.featuresDescriptionMainContainer {
	width: 100%;
	background-color: #fff;
}

@media screen and (min-width: 1440px) {
	.featuresDescriptionMainContainer {
		width: 50%;
	}
}

.featuresDescriptionContainer {
	width: calc(375px - 35px);
	padding: 30px 15px 67px 20px;
	margin: 0 auto;
}

@media screen and (min-width: 1440px) {
	.featuresDescriptionContainer {
		width: 635px;
		padding: 201px 40px 67px 40px;
		margin: 0 auto 0 0;
	}
}

.swiperImgs {
	width: 200px;
	height: 433px;
	border-radius: 13px;
}

@media screen and (min-width: 1440px) {
	.swiperImgs {
		width: 304px;
		height: 658px;
	}
}

.featuresDecor {
	width: 43px;
	height: 8px;
	background-color: #29d764;
}

.featuresTitle {
	color: #040404;
	font-family: Abhaya Libre;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 24px 0 16px;
}

@media screen and (min-width: 1440px) {
	.featuresTitle {
		font-size: 64px;
		margin: 32px 0 24px;
	}
}

.descriptionList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media screen and (min-width: 1440px) {
	.descriptionList {
		gap: 20px;
	}
}

.descriptionItem {
	display: flex;
	align-items: flex-start;
	gap: 12px;
	font-family: Avenir;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	color: #040404;
}

@media screen and (min-width: 1440px) {
	.descriptionItem {
		font-size: 20px;
		gap: 20px;
	}
}

.iconDescription {
	margin-top: 3px;
}

@media screen and (min-width: 1440px) {
	.iconDescription {
		margin-top: 5px;
	}
}

.swiperHidden {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;
	transform: translateX(-50%);
	width: 100vw;
	height: 540px;
	background-color: transparent;
}

@media screen and (min-width: 1440px) {
	.swiperHidden {
		height: 800px;
	}
}
