<a
  class="ph__link"
  href="https://www.producthunt.com/"
  target="_blank"
  rel="noreferrer noopener"
  aria-label="appstore"
>
  <div class="ph__logo"></div>

  <div class="ph__textWrapper">
    <p class="ph__text--secondary">FEATURED ON</p>
    <p class="ph__text--main">Product Hunt</p>
  </div>

  <div class="ph__downloads">2549</div>
</a>

<style>
  .ph__link {
    width: 223px;
    border-radius: 6px;
    border: 1px solid #ff6153;
    background-color: #fff;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ph__logo {
    width: 31px;
    height: 31px;
    background-image: url("/icons/ph-logo.svg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .ph__textWrapper {
    display: flex;
    flex-direction: column;
    color: #ff6153;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .ph__text--secondary {
    font-size: 9px;
  }

  .ph__text--main {
    font-size: 21px;
  }

  .ph__downloads {
    width: 30px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ff6153;
    font-family: Helvetica;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-image: url("/icons/triangle.svg");
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
  }
</style>
