<a
	class="ph__link"
	href="https://www.producthunt.com/"
	target="_blank"
	rel="noreferrer noopener"
	aria-label="product hunt"
>
</a>

<style>
	.ph__link {
		display: flex;
		width: 245px;
		height: 48px;
		background-image: url("/icons/ph-mob.svg");
		background-size: auto;
		background-position: center center;
		background-repeat: no-repeat;
	}

	@media screen and (min-width: 1440px) {
		.ph__link {
			height: 52px;
			background-image: url("/icons/ph-desk.svg");
		}
	}
</style>
